DATABASE_URL="postgresql://user:password@localhost:5432/latamtechtn?schema=public"
DIRECT_URL="postgresql://user:password@localhost:5432/latamtechtn?schema=public"
PORT=3000
CORS_ORIGINS="https://latamtechtn.com,https://www.latamtechtn.com"
